<component name="ArtifactManager">
  <artifact type="war" name="spring-cloud-web:war">
    <output-path>$PROJECT_DIR$/../spring-cloud-web/target</output-path>
    <root id="archive" name="spring-cloud-web-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-cloud-web:war exploded" />
    </root>
  </artifact>
</component>